#container-fluid {
  width: 100%;
}
#container-fluid .main {
  width: 100%;
}
#container-fluid .main > img {
  width: 100%;
}
#container-fluid .about_foot {
  height: 296px;
  width: 100%;
  background-color: #252432;
}
#container-fluid .about_foot .foot_main {
  max-width: 1100px;
  margin: 0 auto;
}
#container-fluid .about_foot .foot_main .foot_head {
  height: 100px;
  border-bottom: 1px #0082df solid;
}
#container-fluid .about_foot .foot_main .foot_head .left {
  color: #fff;
  font-size: 16px;
  height: 100px;
  padding-top: 54px;
}
#container-fluid .about_foot .foot_main .foot_head .left a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
#container-fluid .about_foot .foot_main .foot_head .left a:hover {
  color: #0082df;
}
#container-fluid .about_foot .foot_main .foot_head .right {
  padding-top: 54px;
  height: 100px;
}
#container-fluid .about_foot .foot_main .foot_head .right a {
  display: inline-block;
}
#container-fluid .about_foot .foot_main .foot_head .right a:first-of-type {
  margin-right: 18px;
}
#container-fluid .about_foot .foot_main .foot_f .left {
  padding-top: 38px;
  font-size: 16px;
  color: #fff;
}
#container-fluid .about_foot .foot_main .foot_f .left > p:nth-of-type(3) {
  font-size: 24px;
  color: #0082df;
}
#container-fluid .about_foot .foot_main .foot_f .right {
  padding-top: 26px;
}
